$white: #ffffff;
$ocean: #31f3ff;
$blue: #2074d6;
$violet: #fb3fff;
$gray: #c4c4c4;
$yellow: #fffc36;
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Medium.eot);
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
    url(../fonts/Gotham/GothamPro-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Medium.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Bold.eot);
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
    url(../fonts/Gotham/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Bold.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Light.eot);
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
    url(../fonts/Gotham/GothamPro-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro-Light.woff) format("woff"),
    url(../fonts/Gotham/GothamPro-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro.eot);
  src: local("Gotham Pro"), local("GothamPro"),
    url(../fonts/Gotham/GothamPro.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Gotham/GothamPro.woff) format("woff"),
    url(../fonts/Gotham/GothamPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Gotham Pro", "sans-serif";
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.button {
  font-size: 1.5em;
  background-color: $violet;
  display: inline-block;
  padding: 35px 30px;
  color: white;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.21);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.05em;
  border-radius: 68px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.05em;
  z-index: 5;
  &::before {
    content: "";
    width: 100%;
    left: 50%;

    height: 100px;
    background-color: #fb3fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: -1;
    filter: blur(22px);
    border-radius: 68px;
    opacity: 1;
    transition: all 0.3s;
  }
  &::before {
    left: 0%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-item {
      font-size: 14px;
      color: $white;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0 14px;
      transition: all 0.3s;
      &:hover {
        color: $ocean;
      }
    }
  }

  &__menu-user {
    font-weight: 500;
    &-item {
      &:last-child {
        position: relative;
        color: $blue;
        margin-left: 66px;
        padding: 14px 0px;
        font-weight: 700;
        &::before {
          content: "";
          height: 40px;
          width: 1px;
          background-color: rgba($color: #ffffff, $alpha: 0.3);
          top: 0;
          position: absolute;
          left: -33px;
        }
      }
      &:hover {
        color: $ocean;
      }
    }
  }
  &__logo {
    margin: 0px 340px 0px 80px;
  }
}

.promo {
  height: calc(100vh - 170px);
  box-sizing: border-box;
  background-image: url("../images/bg-1.png");

  text-align: center;
  background-position: center center;
  &__title {
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 70px;
    color: $white;
    font-size: 3.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 1.375em;
    max-width: 890px;
    margin: 30px auto 60px;
    color: $white;
    font-weight: 400;
    text-transform: uppercase;
    white-space: pre-line;
    line-height: 150%;
    & p {
      display: inline;
      font-weight: 700;
      font-size: 22px;
      line-height: 150%;
      /* or 33px */

      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      /* text-gradient */

      background: linear-gradient(
          93.44deg,
          #3b68e6 0.84%,
          #31f3ff 50.94%,
          #fb3fff 100%
        ),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      &:first-child {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        /* or 33px */

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        /* text-gradient */

        background: linear-gradient(
            93.44deg,
            #3b68e6 0.84%,
            #31f3ff 50.94%,
            #fb3fff 100%
          ),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &:last-child {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        /* or 33px */

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        /* text-gradient */

        background: linear-gradient(
            93.44deg,
            #3b68e6 0.84%,
            #31f3ff 50.94%,
            #fb3fff 100%
          ),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
  &__info {
    text-align: center;
    color: white;
    font-size: 1.25em;
  }

  &__social {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 10px;
      padding: 10px 15px;
      border: 1px solid #7d49bf;
      color: white;
      font-weight: 700;
      letter-spacing: 0.05em;
      font-size: 1em;
      background: rgba(72, 37, 135, 0.2);
      border-radius: 10px;
    }
    &-text {
      margin-left: 20px;
    }
  }
}

.marqee {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: black;
  z-index: 2;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

  &-item {
    display: inline-block;
    -webkit-animation: marqueez 60s linear infinite;
    animation: marqueez 60s linear infinite;
    max-height: calc(73px + (15 + 15 * 0.25) * ((100vw - 375px) / 1920));
    vertical-align: middle;
    border-style: none;
    animation: marqee 60s linear infinite;
    padding: 46px 0px 35px;
  }
}

@keyframes marqee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-4000px);
    transform: translateX(-4000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.sale {
  margin-top: 150px;
  background: url("../images/sale-bg.png") top center;
  background-repeat: no-repeat;


  .charts__date{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    justify-content: space-around;
    color: white;
  }
  &__title {
    font-size: 4.688em;
    color: $white;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-style: normal;
    text-transform: uppercase;
    line-height: 102.2%;
  }
  &__subtitle {
    color: $gray;
    font-weight: 300;
    font-size: 1.125em;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 102.2%;
  }
  &__charts {
    margin-top: 135px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .charts__item {
    min-width: 20%;
    &-title {
      color: $white;
      font-size: 0.875em;
      font-weight: 400;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
    }
    &-group {
      margin-top: 12px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: 400;
      color: $white;
    }
    &-offer {
      color: #808080;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.875em;
      text-align: center;
      letter-spacing: 0.05em;
      margin-top: 23px;
    }
    &-chart {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
    &-sale {
      font-weight: 700;
      background: linear-gradient(
          93.44deg,
          #3b68e6 0.84%,
          #31f3ff 50.94%,
          #fb3fff 100%
        ),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 1.125em;
      text-align: center;
      margin-top: 7px;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  &-item {
    min-width: 20%;

    .round {
      width: 56px;
      height: 56px;
      margin: 0 auto;
      border-radius: 50%;
      background: url("../images/icons/uncheck.png");

      box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);

      background-color: black;
      &.checked {
        background: url("../images/icons/check.png");
      }
    }
  }
  &__line {
    width: 80%;
    background: conic-gradient(
        from 141.91deg at -2.19% 16.98%,
        #14bdff 0deg,
        rgba(20, 189, 255, 0) 267.71deg,
        #14bdff 360deg
      ),
      radial-gradient(
          80.2% 129.9% at 96.3% 0%,
          #c51bff 0%,
          rgba(3, 57, 89, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(
          72.79% 65.22% at 80.51% 92.28%,
          rgba(68, 220, 255, 0.71) 0%,
          rgba(120, 199, 217, 0) 84.87%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #3042ff;
    height: 5px;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    z-index: -1;
    left: 10%;
  }
}

.units {
  margin-top: 230px;
  background: url("../images/units-bg.png");
  height: 130vh;

  color: $white;
  &__title {
    font-weight: 400;
    font-size: 4.688em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    line-height: 102.2%;
  }
  &__subtitle {
    color: $gray;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    font-size: 1.125em;
    font-weight: 300;
  }
  &__cards {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &-item {
      box-sizing: border-box;
      padding: 30px 40px 0px;
      width: 33%;
    }
  }

  .cards__item {
    position: relative;
    cursor: pointer;
    margin-right: 40px;
    min-height: 590px;
    box-sizing: border-box;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    background: url("../images/unit-card-grid.png");
    background-size: cover;
    &-title {
      font-weight: 400;
      font-size: 28px;
      line-height: 102.2%;
      /* or 29px */
      box-sizing: border-box;

      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      background: linear-gradient(
          93.44deg,
          #3b68e6 0.84%,
          #31f3ff 50.94%,
          #fb3fff 100%
        ),
        #ffffff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    &-sheme {
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 50px;
      display: block;
      width: auto;
    }

    .scheme-wrap {
      position: relative;
      &::before {
        background: url("../images/units/$.png") center center;
        background-size: cover;
        z-index: 5;
      }

      &::before,
      &::after {
        content: "";
        display: block;

        position: absolute;
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: -10px;
      }

      &::after {
        filter: blur(20px);
        z-index: 1;
        border-radius: 50%;
        background: radial-gradient(
              66.58% 146.41% at -2.19% 16.98%,
              #14bdff 0%,
              rgba(3, 57, 89, 0) 74.36%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              80.2% 129.9% at 96.3% 0%,
              #c51bff 0%,
              rgba(3, 57, 89, 0) 100%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          radial-gradient(
              72.79% 65.22% at 80.51% 92.28%,
              rgba(68, 220, 255, 0.71) 0%,
              rgba(120, 199, 217, 0) 84.87%
            )
            /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
          #3042ff;
      }
    }
    .effect {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(
            243.28% 101.19% at 42.43% 105.46%,
            #00277a 0%,
            rgba(3, 57, 89, 0) 74.36%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            66.58% 146.41% at -2.19% 16.98%,
            #20c0ff 0%,
            rgba(3, 57, 89, 0) 74.36%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            80.2% 129.9% at 96.3% 0%,
            #ca2dff 0%,
            rgba(3, 57, 89, 0) 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        #140359;
      opacity: 0.3;
      z-index: -1;
    }
  }
}

.benefits {
  padding-top: 80px;
  padding-bottom: 200px;
  width: 100%;
  text-align: center;

  background: url("../images/benefits/bg-benefits.png") center center;

  &__title {
    text-align: center;
    font-size: 4.688em;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  &__subtitle {
    margin-top: 30px;
    text-align: center;
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.125em;
  }
  &__scheme {
    margin-top: 150px;
    z-index: -1;
    width: 100%;
    background: url("../images/benefits/border-benefits.png") center;
    background-repeat: no-repeat;

    &-item {
      display: flex;
    }
  }

  &__middle {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    &-subtitle {
      margin-top: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 21px */

      text-align: center;
      color: white;
      max-width: 400px;
      margin: 20px 90px 0px;
    }
    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      margin: 0px 90px;
      /* or 21px */

      text-align: center;
      max-width: 400px;
      color: $white;
    }
  }
  &__top {
    align-items: flex-start;
    justify-content: center;
    &-text {
      max-width: 300px;
      color: white;
      font-weight: 400;
      line-height: 130%;
      text-align: center;
      margin: 25px 80px 0px;
      min-height: 175px;
      padding-bottom: 30px;
      &:first-child {
        max-width: 308px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &-text {
      max-width: 325px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 21px */
      margin: 0px 71px;
      text-align: center;

      color: #ffffff;
    }
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 180px;
    background: url("../images/benefits/bg-card.png");
    background-size: cover;
    min-width: 400px;
    margin-left: -7px;
    &-title {
      max-width: 170px;
      text-align: center;
      margin: 0 auto;
      color: white;
      font-size: 1.563em;
      font-weight: 700;
      white-space: pre-line;
      text-transform: uppercase;
    }
    &-img {
      margin-right: 40px;
      display: block;

      padding-bottom: 10px;
    }
  }
  &__button {
    margin: 140px auto 0;
  }
}

.tokenomics {
  background: url("../images/tokenomics/bg.png") center center;
  text-align: center;
  padding-bottom: 170px;
  &__title {
    font-weight: 300;
    font-size: 6em;
    line-height: 102.2%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 200px;
  }
  &__image-wrap {
    position: relative;
    &::after {
      content: "";
      width: 900px;
      height: 700px;
      position: absolute;
      top: 50%;

      left: 0;
      margin-top: -230px;
      left: 50%;
      margin-left: -450px;

      background: url("../images/tokenomics/coin.png");

      background-repeat: no-repeat;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 102.2%;
    color: $white;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    &-item {
      padding: 25px;
      width: 250px;
      font-weight: 700;
      font-size: 1em;
      line-height: 102.2%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0 50px;

      color: #ffffff;
      background: radial-gradient(
            66.58% 146.41% at -2.19% 16.98%,
            #14bdff 0%,
            rgba(3, 57, 89, 0) 74.36%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            80.2% 129.9% at 96.3% 0%,
            #c51bff 0%,
            rgba(3, 57, 89, 0) 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        radial-gradient(
            72.79% 65.22% at 80.51% 92.28%,
            rgba(68, 220, 255, 0.71) 0%,
            rgba(120, 199, 217, 0) 84.87%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
        #3042ff;
      border: 1px solid rgba(255, 255, 255, 0.21);
      box-sizing: border-box;
      box-shadow: 0px 9px 26px rgba(64, 136, 224, 0.57),
        inset 0px 4px 13px rgba(255, 255, 255, 0.25);
      border-radius: 12px;
    }
  }
}

.chart {
  margin-top: 170px;
  background: url("../images/chart/bg.png") center center;
  border-bottom: 1px solid $white;
  &__title {
    font-weight: 300;
    font-size: 6em;
    line-height: 102.2%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__colors {
    display: flex;
    flex-wrap: wrap;

    margin: 150px 0px 0px 100px;
    max-width: 95%;
    justify-content: space-between;
    &-item {
      min-width: 20%;
      display: flex;
      margin: 15px 0px;
      align-items: center;

      & .yellow {
        background-color: $yellow;
      }
      & .blue {
        background-color: #35b8ff;
      }
      & .gray {
        background-color: #acacac;
      }
      & .blue-dark {
        background-color: #0070c0;
      }
      & .green {
        background-color: #50f828;
      }
      & .crimson {
        background-color: #e955de;
      }
      & .toxic-yellow {
        background-color: #ffff00;
      }
      & .orange {
        background-color: #fda70b;
      }
      & .dark-green {
        background-color: #548235;
      }
      & .toxic-crimson {
        background-color: #e501a9;
      }
    }
    &-title {
      font-weight: 400;
      font-size: 1em;
      line-height: 102.2%;

      color: #ffffff;
    }
    &-round {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: white;
    }
  }

  &__years {
    display: flex;
    padding-bottom: 300px;
    color: white;
    justify-content: space-around;

    &-months {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      width: 100%;
      box-sizing: border-box;
      padding-right: 15px;
    }
    &-item {
      width: 20%;
      margin-top: 25px;
      border-left: 1px solid white;
      &:first-child {
        border: none;
      }
    }
    &-year {
      text-align: center;
      padding-bottom: 30px;
      margin-top: 20px;
    }
  }
  &-image {
    width: 100%;
    margin-top: 60px;
  }
}

.people {
  padding: 120px 0px;
  background: url("../images/people/bg.png");
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    max-width: 770px;
    &-content {
      margin: 50px 0px;
      font-weight: 400;
      font-size: 1.125em;
      line-height: 200%;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
  &__quotes-bottom {
    margin-left: auto;
    display: block;
  }
  &__info {
    max-width: 440px;
    text-align: center;
  }
  &__name {
    font-weight: 700;
    font-size: 1.875em;
    margin-top: 35px;
    line-height: 115.2%;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__position {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 115.2%;

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    opacity: 0.5;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 160px;

    background: radial-gradient(
          66.58% 146.41% at -2.19% 16.98%,
          #14bdff 0%,
          rgba(3, 57, 89, 0) 74.36%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(
          80.2% 129.9% at 96.3% 0%,
          #c51bff 0%,
          rgba(3, 57, 89, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      radial-gradient(
          72.79% 65.22% at 80.51% 92.28%,
          rgba(68, 220, 255, 0.71) 0%,
          rgba(120, 199, 217, 0) 84.87%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #3042ff;

    box-sizing: border-box;
    box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 15px;
    margin: 30px auto 0px;
    cursor: pointer;
    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 115.2%;
      /* or 18px */

      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}

.team {
  padding-bottom: 250px;
  padding-top: 220px;
  background: url("../images/team/bg.png") center center;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);

  &__cards {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__title {
    font-weight: 300;
    font-size: 6em;
    line-height: 102.2%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__card {
    box-sizing: border-box;
    position: relative;
    height: 365px;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
    text-align: center;
    &-name {
      font-weight: 700;
      font-size: 0.938em;
      line-height: 115.2%;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }
    &-position {
      font-weight: 700;
      font-size: 0.75em;
      margin-top: 7px;
      line-height: 115.2%;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;

      opacity: 0.5;
    }
    &-link {
      margin-top: 15px;
      display: block;
    }
    &-flag {
      position: absolute;
      top: 9px;
      left: 9px;
    }
  }
  &__col {
    box-sizing: border-box;
    width: 20%;
    max-width: 320px;
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
}

.angle {
  &-item {
    position: absolute;
    width: 45px;
    height: 45px;
    background: inherit;
  }
  &-item-tl {
    border-top: 3px solid $white;
    border-left: 3px solid $white;
    top: -2px;
    left: -2px;
  }
  &-item-tr {
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    top: -2px;
    right: -2px;
  }
  &-item-bl {
    border-bottom: 3px solid $white;
    border-left: 3px solid $white;
    bottom: -2px;
    left: -2px;
  }
  &-item-br {
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
    bottom: -2px;
    right: -2px;
  }
}

.roadmap {
  padding-top: 200px;
  padding-bottom: 290px;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);
  &__title {
    font-weight: 400;
    font-size: 6em;
    line-height: 102.2%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(
      93.44deg,
      #3b68e6 0.84%,
      #31f3ff 50.94%,
      #fb3fff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    &__item {
      width: 20%;
      box-sizing: border-box;
      margin: 15px;
      min-height: 330px;
      position: relative;
      background: url("../images/roadmap/card-bg.png");
      background-size: cover;
      padding-top: 35px;
      text-align: center;
      &-list {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 !important;
        text-align: center;
        margin: 20px auto;
        list-style-type: none;
        & li {
          position: relative;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          /* or 21px */

          text-align: center;
          max-width: 160px;
          margin: 10px auto;
          color: #ffffff;
        }
      }
      &:first-child {
        img {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -4px;
        }
      }
      &-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 102.2%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
      }
    }
  }
}

.partners {
  &__title {
    font-weight: 300;
    font-size: 6em;
    padding-top: 200px;
    line-height: 102.2%;
    /* or 98px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__cards {
    display: flex;
    align-items: center;
    margin-top: 90px;
  }
  &__card {
    margin: 15px;
    width: 33%;
    padding: 70px 100px;
    height: 210px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);

    background-size: cover !important;
    & img {
      width: 100%;
    }
  }
}

.mass {
  margin-top: 160px;
  &__title {
    font-weight: 300;
    font-size: 6em;
    line-height: 102.2%;
    /* or 98px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 90px;
  }
  &__card {
    position: relative;
    min-height: 180px;
    background-size: cover !important ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/brands/grid.png");
      background-size: cover;
    }
  }
}

.city {
  padding-top: 270px;
  height: 165vh;
  position: relative;

  background: url("../images/city/bg.png") bottom center;
  background-size: cover !important;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 100px;
  &__title {
    font-size: 4.125em;
    line-height: 102.2%;
    /* or 67px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__date {
    font-weight: 700;
    color: $ocean;
  }
  &__button {
    margin-top: 60px;
  }
  &__image {
    position: absolute;
  }
  .item-1 {
    top: 990px;
    left: 310px;
  }
  .item-2 {
    top: 830px;
    left: 520px;
  }
  .item-3 {
    top: 970px;
    left: 800px;
  }
  .item-4 {
    top: 840px;
    right: 700px;
  }
  .item-5 {
    top: 1000px;
    right: 550px;
  }
  .item-6 {
    right: 300px;
    top: 750px;
  }
}

.footer {
  padding: 65px 80px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-item {
      font-weight: 400;
      font-size: 0.875em;
      line-height: 102.2%;
      margin: 0 16px;
      /* or 14px */

      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
  .logo {
    margin: 0px 0px 0px 115px;
  }

  .right__nav {
    display: flex;
    align-items: center;
    color: white;
    &-user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 50px;
    }
    &-contacts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: block;
        margin: 10px;
      }
    }
    &-user {
      &-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 102.2%;
        /* or 14px */

        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
        margin: 0 15px;
      }
    }
  }
  .subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    margin-top: 20px;
    color: #ffffff;
  }
}

.modal1 {
  display: none;
  .modal__content {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-around;
  }

  .modal {
    padding-top: 25px;
    position: fixed;
    width: 90%;
    background: #010205;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    height: 700px;
    max-width: 1350px;

    .close {
      position: absolute;
      top: -1px;
      right: 20px;
    }

    z-index: 500;
    top: 50%;

    width: 100%;
    left: 50%;
    margin-left: -675px;
    margin-top: -350px;
    &__button {
      margin-top: 80px;
      text-align: center;
    }
    &__list {
      width: 50%;
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        margin-top: 50px;
        /* or 18px */
        display: flex;
        color: #ffffff;
        .text {
          max-width: 365px;
        }
        .num {
          font-size: 18px;
          line-height: 130%;
          /* or 23px */

          text-align: center;

          /* text-gradient */

          background: linear-gradient(
              93.44deg,
              #3b68e6 0.84%,
              #31f3ff 50.94%,
              #fb3fff 100%
            ),
            #ffffff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 56px;
            height: 56px;
            top: -17px;
            left: -23px;

            background: radial-gradient(
                50% 50% at 50% 50%,
                rgba(32, 192, 255, 0.2) 24.27%,
                rgba(0, 0, 0, 0) 100%
              ),
              radial-gradient(
                50% 50% at 50% 50%,
                rgba(202, 45, 255, 0.3) 82.6%,
                rgba(0, 0, 0, 0) 100%
              ),
              #140359;
            opacity: 0.3;
            border: 1px solid #ffffff;
            border-radius: 50%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  .modal__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 200;
  }
  .modal__title {
    position: relative;
    font-weight: 400;
    font-size: 35px;
    line-height: 102.2%;
    /* identical to box height, or 36px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* text-gradient */

    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.modal1.active {
  display: block;
  & .modal {
    animation: openModal 500 forwards;
  }
}

.modal2 {
  position: fixed;
  z-index: 500;
  display: none;

  &.active {
    display: block;
  }

  &-button {
    margin-top: 20px;
    text-align: center;
  }
  .modal__overlay {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000000, 0.9);
  }
  .modal__wrapper {
    background-image: url(../images/modal-2/eclipse.svg);
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 60px;
    max-width: 1325px;
    width: 100%;
    left: 50%;
    margin-left: -660px;
    position: fixed;
    top: 30px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
  }
  .modal__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__title-text {
    padding-top: 21px;
    margin: 0 auto;
    text-align: center;
    width: 569px;
    height: 108px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 102.2%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* text-gradient */
    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .modal__title-cross {
    padding: 13px;
    cursor: pointer;
  }
  .modal__contents-wrapper-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -4px;
    margin-left: 117px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 1102px;
    padding-top: 21px;
    padding-bottom: 25px;
  }
  .modal__contents-wrapper-top-img {
    position: relative;
    text-align: center;
  }
  .modal__contents-wrapper-top-img-name {
    color: #ffffff;
    position: absolute;
    width: 120px;
    top: 77%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 102%;
    /* or 15px */
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .modal__contents-wrapper-top-text {
    width: 881px;
    height: 162px;
    margin-left: 71px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }
  .modal__contents-wrapper-top-text-one {
    color: white;
  }
  .modal__contents-wrapper-top-text-two {
    margin-top: 10px;
    color: white;
  }
  .modal__contents-wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 112px;
    margin-left: 116px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 44px;
  }
  .modal__contents-wrapper-bottom-text {
    width: 877px;
    height: 162px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    text-align: right;
    color: #ffffff;
  }
  .modal__contents-wrapper-bottom-img {
    margin-left: 72px;
    position: relative;
    text-align: center;
  }
  .modal__contents-wrapper-bottom-img-name {
    color: #ffffff;
    position: absolute;
    width: 120px;
    top: 77%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 102%;
    /* or 15px */
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .modal .modal__contents-cards {
    padding-top: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal .modal__contents-cards-item:not(:last-child) {
    margin-left: 22px;
  }
  .modal .modal__contents-button {
    cursor: pointer;
    margin-top: 82px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: #fb3fff;
    border: 1px solid rgba(255, 255, 255, 0.21);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 68px;
    width: 300px;
    height: 70px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 102.2%;
    color: #ffffff;
  }
  .modal .modal__contents-button:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.modal3 {
  display: none;
  &.active {
    display: block;
  }
  .modal__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 100;
  }

  .modal3-btn {
    text-align: center;
    .button {
      min-width: 330px;
      margin-right: 240px;
    }
  }
  .modal__clans__wrapper {
    z-index: 900;
    width: 1325px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 762px;
    margin-left: -660px;
    margin-top: -380px;

    background-color: black;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    background-image: url(../images/modal-3/bg.svg);
  }
  .modal__clans__wrapper__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__clans__wrapper__title-text {
    width: 133px;
    height: 36px;
    left: 1146px;
    top: 151px;
    padding-top: 21px;
    margin: 0 auto;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 102.2%;
    /* identical to box height, or 36px */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* text-gradient */
    background: linear-gradient(
        93.44deg,
        #3b68e6 0.84%,
        #31f3ff 50.94%,
        #fb3fff 100%
      ),
      #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .modal__clans__wrapper__title-cross {
    padding: 13px;
    cursor: pointer;
  }
  .modal__clans__wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__clans__wrapper-content-left {
    margin-top: 39px;
    padding-left: 200px;
  }
  .modal__clans__wrapper-content-left-cards-item-arrow {
    position: relative;
    left: 48%;
    -webkit-transform: translate(-12%, 1%);
    transform: translate(-12%, 1%);
  }
  .modal__clans__wrapper-content-right {
    margin-left: 209px;
    margin-top: 89px;
  }
  .modal__clans__wrapper-content-right-text-bold {
    width: 431px;
    height: 36px;
    left: 1212px;
    top: 276px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #ffffff;
  }
  .modal__clans__wrapper-content-right-text {
    padding-right: 229px;
    height: 54px;
    left: 1212px;
    top: 362px;
    margin-top: 50px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */
    color: #ffffff;
  }
  .modal__clans__wrapper-content-right-btn {
    margin-top: 86px;
    cursor: pointer;
    width: 330px;
    height: 85px;
    left: 1258px;
    top: 713.49px;
    background: #f940ff;
    -webkit-box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
    border-radius: 68px;
    margin-left: 32px;
    left: 1296px;
    top: 746.49px;
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 102.2%;
    /* or 25px */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .modal__clans__wrapper-content-right-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .modal {
    width: 90%;
    height: 1198px;
    z-index: 200;
    left: 252px;
    top: 0px;
    position: fixed;

    background: rgba(1, 2, 5);

    &__wrapper {
      background-image: url(../images/modal-2/eclipse.svg);
      width: 1325px;
      height: 1067px;
      left: 549px;
      top: 131px;

      box-sizing: border-box;
      box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
    }

    &__title {
      display: flex;

      &-text {
        padding-top: 21px;
        margin: 0 auto;
        text-align: center;
        width: 569px;
        height: 108px;
        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 102.2%;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        /* text-gradient */

        background: linear-gradient(
            93.44deg,
            #3b68e6 0.84%,
            #31f3ff 50.94%,
            #fb3fff 100%
          ),
          #ffffff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &-cross {
        padding: 13px;
        cursor: pointer;
      }
    }

    &__contents-wrapper-top {
      display: flex;
      margin-top: -4px;
      margin-left: 117px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      width: 1102px;
      padding-top: 21px;
      padding-bottom: 25px;
      &-img {
        position: relative;
        text-align: center;
        &-name {
          color: #ffffff;
          position: absolute;
          width: 120px;
          top: 77%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Gotham Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 102%;
          /* or 15px */

          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }
      &-text {
        width: 881px;
        height: 162px;
        margin-left: 71px;
        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        &-one {
          color: white;
        }
        &-two {
          margin-top: 10px;
          color: white;
        }
      }
    }

    &__contents-wrapper-bottom {
      display: flex;
      margin-right: 112px;
      margin-left: 116px;
      margin-top: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 44px;

      &-text {
        width: 877px;
        height: 162px;

        font-family: "Gotham Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */

        text-align: right;

        color: #ffffff;
      }

      &-img {
        margin-left: 72px;
        position: relative;
        text-align: center;

        &-name {
          color: #ffffff;
          position: absolute;
          width: 120px;
          top: 77%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Gotham Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 102%;
          /* or 15px */

          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }
    }
    .modal__contents-cards {
      padding-top: 60px;
      justify-content: center;
      display: flex;

      &-item:not(:last-child) {
        margin-left: 22px;
      }
    }
    .modal__contents-button {
      cursor: pointer;
      margin-top: 82px;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      background: #fb3fff;
      border: 1px solid rgba(255, 255, 255, 0.21);
      box-sizing: border-box;
      border-radius: 68px;
      width: 300px;
      height: 70px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-family: "Gotham Pro";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 102.2%;
      color: #ffffff;
    }

    .modal__contents-button:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
      transition: all 0.3s;
    }
  }

  .modal__clans {
    &__wrapper {
      &__title {
        display: flex;

        &-text {
          width: 133px;
          height: 36px;
          left: 1146px;
          top: 151px;
          padding-top: 21px;
          margin: 0 auto;
          font-family: "Gotham Pro";
          font-style: normal;
          font-weight: 400;
          font-size: 35px;
          line-height: 102.2%;
          /* identical to box height, or 36px */

          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;

          /* text-gradient */

          background: linear-gradient(
              93.44deg,
              #3b68e6 0.84%,
              #31f3ff 50.94%,
              #fb3fff 100%
            ),
            #ffffff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
        &-cross {
          padding: 13px;
          cursor: pointer;
        }
      }
      &-content {
        display: flex;

        &-left {
          margin-top: 39px;
          padding-left: 200px;

          &-cards-item-arrow {
            position: relative;
            left: 48%;
            transform: translate(-12%, 1%);
          }
        }

        &-right {
          margin-left: 209px;
          margin-top: 89px;

          &-text-bold {
            width: 431px;
            height: 36px;
            left: 1212px;
            top: 276px;

            font-family: "Gotham Pro";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 130%;
            /* or 18px */

            color: #ffffff;
          }
          &-text {
            padding-right: 229px;
            height: 54px;
            left: 1212px;
            top: 362px;
            margin-top: 50px;
            font-family: "Gotham Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            /* or 18px */

            color: #ffffff;
          }
          &-btn {
            margin-top: 86px;
            cursor: pointer;
            width: 330px;
            height: 85px;
            left: 1258px;
            top: 713.49px;

            background: #f940ff;
            box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
            border-radius: 68px;
            margin-left: 32px;
            left: 1296px;
            top: 746.49px;

            font-family: "Gotham Pro";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 102.2%;
            /* or 25px */

            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            color: #ffffff;
          }
          &-btn:hover {
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

@keyframes openModal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
