body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Medium.eot);
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url(../fonts/Gotham/GothamPro-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham/GothamPro-Medium.woff) format("woff"), url(../fonts/Gotham/GothamPro-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Bold.eot);
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url(../fonts/Gotham/GothamPro-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham/GothamPro-Bold.woff) format("woff"), url(../fonts/Gotham/GothamPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro-Light.eot);
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url(../fonts/Gotham/GothamPro-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham/GothamPro-Light.woff) format("woff"), url(../fonts/Gotham/GothamPro-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/Gotham/GothamPro.eot);
  src: local("Gotham Pro"), local("GothamPro"), url(../fonts/Gotham/GothamPro.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham/GothamPro.woff) format("woff"), url(../fonts/Gotham/GothamPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Gotham Pro", "sans-serif";
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__menu-item {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__menu-item:hover {
  color: #31f3ff;
}
.header__menu-user {
  font-weight: 500;
}
.header__menu-user-item:last-child {
  position: relative;
  color: #2074d6;
  margin-left: 66px;
  padding: 14px 0px;
  font-weight: 700;
}
.header__menu-user-item:last-child::before {
  content: "";
  height: 40px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  position: absolute;
  left: -33px;
}
.header__menu-user-item:hover {
  color: #31f3ff;
}
.header__logo {
  margin: 0px 340px 0px 80px;
}

.promo {
  height: calc(100vh - 170px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/bg-1.png");
  text-align: center;
  background-position: center center;
}
.promo__title {
  letter-spacing: 0.05em;
  text-align: center;
  padding-top: 70px;
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.promo__subtitle {
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 1.375em;
  max-width: 890px;
  margin: 30px auto 60px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  white-space: pre-line;
  line-height: 150%;
}
.promo__info {
  text-align: center;
  color: white;
  font-size: 1.25em;
}
.promo__button {
  font-size: 1.5em;
  background-color: #fb3fff;
  display: inline-block;
  padding: 35px 30px;
  color: white;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.21);
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.05em;
  border-radius: 68px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
  position: relative;
  letter-spacing: 0.05em;
  z-index: 5;
}
.promo__button::before {
  content: "";
  width: 100%;
  left: 50%;
  height: 100px;
  background-color: #fb3fff;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: -1;
  -webkit-filter: blur(22px);
          filter: blur(22px);
  border-radius: 68px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.promo__button::before {
  left: 0%;
}
.promo__social {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #7d49bf;
  color: white;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1em;
  background: rgba(72, 37, 135, 0.2);
  border-radius: 10px;
}
.promo__social-text {
  margin-left: 20px;
}

.marqee {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  background-color: black;
  z-index: 2;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
.marqee-item {
  display: inline-block;
  -webkit-animation: marqueez 60s linear infinite;
  animation: marqueez 60s linear infinite;
  max-height: calc(73px + (15 + 15 * 0.25) * ((100vw - 375px) / 1920));
  vertical-align: middle;
  border-style: none;
  -webkit-animation: marqee 60s linear infinite;
          animation: marqee 60s linear infinite;
  padding: 46px 0px 35px;
}

@-webkit-keyframes marqee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-4000px);
    transform: translateX(-4000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes marqee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-4000px);
    transform: translateX(-4000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.sale {
  margin-top: 150px;
  background: url("../images/sale-bg.png") top center;
  background-repeat: no-repeat;
}
.sale__title {
  font-size: 4.688em;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-style: normal;
  text-transform: uppercase;
  line-height: 102.2%;
}
.sale__subtitle {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 1.125em;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  line-height: 102.2%;
}
.sale__charts {
  margin-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sale .charts__item {
  min-width: 20%;
}
.sale .charts__item-title {
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}
.sale .charts__item-group {
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 400;
  color: #ffffff;
}
.sale .charts__item-offer {
  color: #808080;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 23px;
}
.sale .charts__item-chart {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.sale .charts__item-sale {
  font-weight: 700;
  background: linear-gradient(93.44deg, #3b68e6 0.84%, #31f3ff 50.94%, #fb3fff 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 1.125em;
  text-align: center;
  margin-top: 7px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  position: relative;
}
.progress-item {
  min-width: 20%;
}
.progress-item .round {
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  background: url("../images/icons/uncheck.png");
  -webkit-box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
  background-color: black;
}
.progress-item .round.checked {
  background: url("../images/icons/check.png");
}
.progress__line {
  width: 80%;
  background: conic-gradient(from 141.91deg at -2.19% 16.98%, #14bdff 0deg, rgba(20, 189, 255, 0) 267.71deg, #14bdff 360deg), radial-gradient(80.2% 129.9% at 96.3% 0%, #c51bff 0%, rgba(3, 57, 89, 0) 100%), radial-gradient(72.79% 65.22% at 80.51% 92.28%, rgba(68, 220, 255, 0.71) 0%, rgba(120, 199, 217, 0) 84.87%), #3042ff;
  height: 5px;
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  z-index: -1;
  left: 10%;
}

.units {
  margin-top: 230px;
  background: url("../images/units-bg.png");
  height: 130vh;
  color: #ffffff;
}
.units__title {
  font-weight: 400;
  font-size: 4.688em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  line-height: 102.2%;
}
.units__subtitle {
  color: #c4c4c4;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  font-size: 1.125em;
  font-weight: 300;
}
.units__cards {
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.units__cards-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 40px 0px;
  width: 33%;
}
.units .cards__item {
  position: relative;
  margin-right: 40px;
  min-height: 590px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: url("../images/unit-card-grid.png");
  background-size: cover;
}
.units .cards__item:last-child {
  margin-right: 0;
}
.units .cards__item-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 102.2%;
  /* or 29px */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(93.44deg, #3b68e6 0.84%, #31f3ff 50.94%, #fb3fff 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.units .cards__item-sheme {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  width: auto;
}
.units .cards__item .scheme-wrap {
  position: relative;
}
.units .cards__item .scheme-wrap::before {
  background: url("../images/units/$.png") center center;
  background-size: cover;
  z-index: 5;
}
.units .cards__item .scheme-wrap::before, .units .cards__item .scheme-wrap::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  bottom: -10px;
}
.units .cards__item .scheme-wrap::after {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: 1;
  border-radius: 50%;
  background: radial-gradient(66.58% 146.41% at -2.19% 16.98%, #14bdff 0%, rgba(3, 57, 89, 0) 74.36%), radial-gradient(80.2% 129.9% at 96.3% 0%, #c51bff 0%, rgba(3, 57, 89, 0) 100%), radial-gradient(72.79% 65.22% at 80.51% 92.28%, rgba(68, 220, 255, 0.71) 0%, rgba(120, 199, 217, 0) 84.87%), #3042ff;
}
.units .cards__item .effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(243.28% 101.19% at 42.43% 105.46%, #00277a 0%, rgba(3, 57, 89, 0) 74.36%), radial-gradient(66.58% 146.41% at -2.19% 16.98%, #20c0ff 0%, rgba(3, 57, 89, 0) 74.36%), radial-gradient(80.2% 129.9% at 96.3% 0%, #ca2dff 0%, rgba(3, 57, 89, 0) 100%), #140359;
  opacity: 0.3;
  z-index: -1;
}

.benefits {
  padding-top: 80px;
  height: 100vh;
  width: 100%;
  background: url("../images/benefits/bg-benefits.png") top center;
}
.benefits__title {
  text-align: center;
  font-size: 4.688em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.benefits__subtitle {
  margin-top: 30px;
  text-align: center;
  color: #c4c4c4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.125em;
}
.benefits__scheme {
  margin-top: 150px;
  width: 100%;
  background: url("../images/benefits/border-benefits.png") center;
  background-repeat: no-repeat;
}
.benefits__scheme-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 70px;
}
.benefits__middle-subtitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  text-align: center;
  color: white;
  max-width: 400px;
  margin: 20px 90px;
}
.benefits__middle-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 0px 90px;
  /* or 21px */
  text-align: center;
  max-width: 400px;
  color: #ffffff;
}
.benefits__top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__top-text {
  max-width: 300px;
  color: white;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  margin: 25px 80px 0px;
  min-height: 175px;
  padding-bottom: 50px;
}
.benefits__top-text:first-child {
  max-width: 308px;
}
.benefits__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__bottom-text {
  max-width: 325px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  margin-top: 5 0px;
  text-align: center;
  color: #ffffff;
}
.benefits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/benefits/bg-card.png");
  background-size: cover;
  min-width: 400px;
  margin-left: -7px;
}
.benefits__card-title {
  max-width: 170px;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 1.563em;
  font-weight: 700;
  white-space: pre-line;
  text-transform: uppercase;
}
.benefits__card-img {
  margin-right: 40px;
  display: block;
}

.modal {
  width: 1919px;
  height: 1198px;
  left: 252px;
  top: 0px;
  background: rgba(1, 2, 5, 0.6);
}
.modal__wrapper {
  background-image: url(../images/modal-2/eclipse.svg);
  width: 1325px;
  height: 1067px;
  left: 549px;
  top: 131px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
          box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
}
.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__title-text {
  padding-top: 21px;
  margin: 0 auto;
  text-align: center;
  width: 569px;
  height: 108px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 102.2%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* text-gradient */
  background: linear-gradient(93.44deg, #3b68e6 0.84%, #31f3ff 50.94%, #fb3fff 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.modal__title-cross {
  padding: 13px;
  cursor: pointer;
}
.modal__contents-wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4px;
  margin-left: 117px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 1102px;
  padding-top: 21px;
  padding-bottom: 25px;
}
.modal__contents-wrapper-top-img {
  position: relative;
  text-align: center;
}
.modal__contents-wrapper-top-img-name {
  color: #ffffff;
  position: absolute;
  width: 120px;
  top: 77%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 102%;
  /* or 15px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal__contents-wrapper-top-text {
  width: 881px;
  height: 162px;
  margin-left: 71px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.modal__contents-wrapper-top-text-one {
  color: white;
}
.modal__contents-wrapper-top-text-two {
  margin-top: 10px;
  color: white;
}
.modal__contents-wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 112px;
  margin-left: 116px;
  margin-top: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 44px;
}
.modal__contents-wrapper-bottom-text {
  width: 877px;
  height: 162px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  text-align: right;
  color: #ffffff;
}
.modal__contents-wrapper-bottom-img {
  margin-left: 72px;
  position: relative;
  text-align: center;
}
.modal__contents-wrapper-bottom-img-name {
  color: #ffffff;
  position: absolute;
  width: 120px;
  top: 77%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 102%;
  /* or 15px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal .modal__contents-cards {
  padding-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal .modal__contents-cards-item:not(:last-child) {
  margin-left: 22px;
}
.modal .modal__contents-button {
  cursor: pointer;
  margin-top: 82px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #fb3fff;
  border: 1px solid rgba(255, 255, 255, 0.21);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 68px;
  width: 300px;
  height: 70px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 102.2%;
  color: #ffffff;
}
.modal .modal__contents-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
          box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__clans {
  width: 1919px;
  height: 1198px;
  left: 332px;
  top: 20px;
  background: rgba(1, 2, 5, 0.6);
}
.modal__clans__wrapper {
  width: 1325px;
  height: 762px;
  left: 549px;
  top: 131px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
          box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
  background-image: url(../images/modal-3/bg.svg);
}
.modal__clans__wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__clans__wrapper__title-text {
  width: 133px;
  height: 36px;
  left: 1146px;
  top: 151px;
  padding-top: 21px;
  margin: 0 auto;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 102.2%;
  /* identical to box height, or 36px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* text-gradient */
  background: linear-gradient(93.44deg, #3b68e6 0.84%, #31f3ff 50.94%, #fb3fff 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.modal__clans__wrapper__title-cross {
  padding: 13px;
  cursor: pointer;
}
.modal__clans__wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__clans__wrapper-content-left {
  margin-top: 39px;
  padding-left: 200px;
}
.modal__clans__wrapper-content-left-cards-item-arrow {
  position: relative;
  left: 48%;
  -webkit-transform: translate(-12%, 1%);
          transform: translate(-12%, 1%);
}
.modal__clans__wrapper-content-right {
  margin-left: 209px;
  margin-top: 89px;
}
.modal__clans__wrapper-content-right-text-bold {
  width: 431px;
  height: 36px;
  left: 1212px;
  top: 276px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #ffffff;
}
.modal__clans__wrapper-content-right-text {
  padding-right: 229px;
  height: 54px;
  left: 1212px;
  top: 362px;
  margin-top: 50px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  color: #ffffff;
}
.modal__clans__wrapper-content-right-btn {
  margin-top: 86px;
  cursor: pointer;
  width: 330px;
  height: 85px;
  left: 1258px;
  top: 713.49px;
  background: #f940ff;
  -webkit-box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 4px 13px rgba(255, 255, 255, 0.25);
  border-radius: 68px;
  margin-left: 32px;
  left: 1296px;
  top: 746.49px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 102.2%;
  /* or 25px */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.modal__clans__wrapper-content-right-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
          box-shadow: 0px 0px 120px rgba(202, 45, 255, 0.8);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}